:root {
  font-size: 62.5%; // Sets the default rem to be 10px.
}

html:focus-within {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: initial;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
figure,
blockquote,
dl,
dd,
pre {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
textarea,
select {
  font: inherit;
}

body {
  line-height: 1.5;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  background: initial;
  color: inherit;
  padding: 0;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
svg,
video,
canvas,
audio,
iframe,
picture,
embed,
object {
  display: block;
}

img,
picture,
video {
  max-width: 100%;
}

img,
video {
  height: auto;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
  }
}
